<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dr Kiano Boys High school</title>
    <link rel="icon" type="image/x-icon" href="/favicon_io/favicon.ico">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="w3.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script> 
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://kit.fontawesome.com/214860a2df.js" crossorigin="anonymous"></script>

    {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.min.js" integrity="sha512-7U4rRB8aGAHGVad3u2jiC7GA5/1YhQcQjxKeaVms/bT66i3LVBMRcBI9KwABNWnxOSwulkuSXxZLGuyfvo7V1A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> --}}

    {{!-- navbar start --}}

<nav class="navigation" sty>
  <div class="brand">
    <div class="img">
      <a class="navbar-brand" href="/">
      <img src="/images/kiano.png" alt="Dr. Kiano High School" srcset="" height="70px" style="border-radius: 100px;">
      </a>
    </div>
    <div class="title">
        <p>DR. KIANO BOY'S HIGH SCHOOL</p>
    </div>
    <div class="contacts">
        <p> +254741569450   |    drkianoboys@gmail.com   |     P.O BOX 190-10202, KANGEMA</p>
    </div>
  </div>
   <div class="links">
      <a class="nav-link active" aria-current="page" href="/"><i class="fa-sharp fa-solid fa-house"></i></a>
      <a class="nav-link active" aria-current="page" href="/about">About Us</a>
      <a class="nav-link active" aria-current="page" href="/exams">Exams</a>
      <a class="nav-link active" aria-current="page" href="/events">Events</a>
      <a class="nav-link active" aria-current="page" href="/gallary">Gallery</a>
      <a class="nav-link active" aria-current="page" href="/career">Career</a>
      <a class="nav-link active" aria-current="page" href="/contacts"><i class="fa-solid fa-phone"></i> Contact Us</a>
    </div>
</nav>

<body>
  <div class="container main-container">
    {{{body}}}
  </div>

<nav class="footer">
  <div class="container">
    <div><h5>Dr Kiano Boys High School</h5></div>
    <div class="links">
    <a href="/">Home</a>
    <a href="/about">About US</a>
    <a href="/contacts">Contacts</a>    
    <a href="/career">Career/Tenders</a>
    </div>

    <div class="social">
        <img src="/bootstrap-icons/facebook.svg" alt="" srcset="">
        <img src="/bootstrap-icons/envelope-at.svg" alt="" srcset="">
        <img src="/bootstrap-icons/telephone-fill.svg" alt="" srcset="">
        <img src="/bootstrap-icons/whatsapp.svg" alt="" srcset="">
    </div>
    <div class="copyright">
        copy &copy; right at 2023 Dr Kiano Boys High School. <br> Designed and developed by Duncan Nyingi
    </div>

  </div>
</nav>
<script src="/bootstrap/jquery.js"></script>
<script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/script.js"></script>



</body>














