<div class="history">

<div class="title">
    <h3>DR. KIANO BOYS HIGH SCHOOL HISTORY</h3>
</div>

<div class="para">

<p> <img src="/img/kiano.jpg" alt=""> <b>Dr. Kiano Boys High School</b> is a County Public Boys Boarding School located in a serene environment in <b>Githiga</b> location, Kanyenya-ini ward Kangema sub-county, Murang’a County, and Central Region. <br>  It opened its doors in 1968, in honour of the local Member of Parliament (MP) and Minister of Education, <i>Dr. Julius Gikonyo Kiano</i> EGH (PHD) for the good contribution he had made to the constituents and post-independence Kenya.  He was also the 1st PHD holder in Kenya.
<br>It was then recognized by the government in <i>1970</i>  when it was officially opened by the then Minister of Co-operatives and Social Services  <b>Hon. Masinde Muliro.</b>
<p>It is an ACK sponsored school since inception and has produced notable alumni like the former Cabinet Secretary for Devolution and Planning, Agriculture, <b> Hon. Mwangi Kiunjuri.</b></p>
<p>Over the years, the school has continued to produce results and increased enrolment for instance last year KCSE 2022, the school took <i> fifteen boys to the University </i> and majority to the National Polytechnics to do Diploma courses.</p>

<p>Discipline has been the pillar and a complete mind set.</p>  
<p>The current Principal is <b>Mr. Gichongi J.N </b> and the Deputy Principal is <b>Karanja G.M </b>with a student population of <b>400</b> and teaching force of 20 teachers.</p>
<p>The school also engages the students in various co-curriculum activities such as:<br> 
<ul>
<li>Scouting</li>
<li>Music</li>
<li>Drama</li>
<li>St. John Ambulance</li>
<li>Science and Engineering Fair</li>
<li>Games</li>
<li>Christian Union</li>
<li>etc..</li>
</ul></p>
<p>Year 2023 target is 5.500 (C)</p>
</p>
<div class="conc">
<p>
<u>Boys Clarion Call;</u> <br>
<em>We are the Change,</em><br>
<em>This is the Place,</em> <br>
<em>We Stand to Excel!!! </em> 
</p>
</div>

</div>
</div>
