
<div class="our_photos">

<div class="title">
    <h4> <u>Gallery</u></h4>    
</div>

<div class="photos">
  
  <div class="card" style="width: 18rem;">
    <img src="/img/prefects.jpg" class="card-img-top" alt="..." style="height: 200px;">
    <div class="card-body">
      <p class="card-text">2023 Prefect body</p>
    </div>
  </div>
<div class="card" style="width: 18rem;">
  <img src="/img/parade.png" class="card-img-top" alt="..." style="height: 200px;">
   <div class="card-body">
    <p class="card-text">On a parade</p>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="/img/award.jpg" class="card-img-top" alt="..." style="height: 200px;">
   <div class="card-body">
    <p class="card-text">Award for Best performance</p>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="/img/agriculture.png" class="card-img-top" alt="..." style="height: 200px;">
   <div class="card-body">
    <p class="card-text">Agriculture projects</p>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="/img/schoolBus.jpg" class="card-img-top" alt="..." style="height: 200px;">
   <div class="card-body">
    <p class="card-text">Newly bought school Bus</p>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="/img/principal.png" class="card-img-top" alt="..." style="height: 200px;">
   <div class="card-body">
    <p class="card-text">Principal Being Awarded</p>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="/img/lab1.png" class="card-img-top" alt="..." style="height: 200px;">
    <div class="card-body">
    <p class="card-text">Newly Constructed Lab</p>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="/img/new_doms.png" class="card-img-top" alt="..." style="height: 200px;">
    <div class="card-body">
    <p class="card-text">Newly constructed Dormitorys</p>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="/img/tree_planting.png" class="card-img-top" alt="..." style="height: 200px;">
    <div class="card-body">
    <p class="card-text">Planting Tree on a tree planting day</p>
  </div>
</div>

</div>

</div>