<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
  </head>
  <body>
    <div class="container home_container">
      {{!--
      image slider start
      --}}
      <div id="carouselExampleCaptions" class="carousel slide"
        data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="4" aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="5" aria-label="Slide 6"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="6" aria-label="Slide 7"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/img/gate.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption">
              <h3>WELCOME TO DR. KIANO BOY'S HIGH SCHOOL</h3>
              <p>DISCPLINE, PROFESSIONALISM AND INNOVATIVENESS.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/img/image2.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              {{!-- <h5>First slide label</h5> --}}
              <p>Teaching staff being awarded for their best performance in
                various subjects</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/img/image3.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              {{!-- <h5>Second slide label</h5> --}}
              <p>Our current BOM members</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/img/image4.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              {{!-- <h5>Third slide label</h5> --}}
              <p>New constructed Dormitorys.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/img/image5.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              {{!-- <h5>Third slide label</h5> --}}
              <p>Some representative placeholder content for the third slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/img/image6.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              {{!-- <h5>Third slide label</h5> --}}
              <p>Best performed student who joined University year 2022 being
                awarded.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/img/image7.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              {{!-- <h5>Third slide label</h5> --}}
              <p>Our students engage in various co-curricula activites such as
                Karate, football, vallyball, etc...</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button"
          data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button"
          data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      {{!-- image slider end --}}

      <div class="drive_wrapper">
        <div class="school_drive">
          <div class="motto">
            <img src="/images/motto.png" alt="School Motto" srcset>
          </div>
          <div class="deans_remark">
            <p>From Dean's Desk, <q> Good performance is the ultimate goal of
                our school and this is the expectation by the BOM, Parents,
                Teachers, Students and many other stakeholders. But good
                performance don’t just happen it’s always the result of high
                intention, sincere effort, well guided directions and skillful
                execution....</q> <a href="/exams" type="button"
                class="btn btn-link">Read more...</a></p>
          </div>
          <div class="vision">
            <img src="/images/vision.png" alt="School Vision" srcset>
          </div>
          {{!-- <div class="description">
            <p>We are committed to install the best knowledge and skills to our
              student, which will integrate them to the dynamic society </p>
          </div> --}}
          <div class="mission description">
            <img src="/images/mission.png" alt="School Mission" srcset>
          </div>
          <div class="core_values">
            <img src="/images/values.png" alt="School Core Values" srcset>
          </div>
        </div>
      </div>

      <div class="about">
        <div class="title">
          <h3>.ABOUT US.</h3>
        </div>

        <div class="content">
          <div class="card">
            <div class="card-header">Location</div>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4106.414604352573!2d36.94133390090704!3d-0.7087578339230184!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1828eab7e4edc1d9%3A0x31940e45d63b82d3!2sDr.%20Kiano%20Boys%20Secondary%20School!5e0!3m2!1sen!2ske!4v1697204781973!5m2!1sen!2ske"
              style="border:0;" allowfullscreen loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
            <div class="card-body">
              {{!-- <h5 class="card-title">Card title</h5> --}}
              <p class="card-text">We are Located at Kangema sub-county in
                Muranga county...</p>
              <a href="/about" class="btn btn-primary">Read more...</a>
            </div>
          </div>

          <div class="card">
            <div class="card-header"> School Anthem</div>
            <div class="card-body">
              {{!-- <h5 class="card-title"></h5> --}}
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
                obcaecati laudantium beatae placeat? Voluptatibus, voluptatem
                iure, quod adipisci ullam iste ea modi laboriosam eos
                laudantium, rem repellat recusandae voluptatum accusamus.

                <a href="/about" class="btn btn-primary">Read more...</a>
              </div>
            </div>

            <div class="card">
              <div class="card-header"> Brief History </div>
              <div class="card-body">
                {{!-- <h5 class="card-title"></h5> --}}
                <p class="card-text">
                  Dr. Kiano Boys High School is a County Public Boys Boarding
                  School located in a serene environment in Githiga location,
                  Kanyenya-ini ward Kangema sub-county, Murang’a County, and
                  Central Region. It opened its doors in 1968, in honour of the
                  local Member of Parliament (MP) and Minister of Education, <b>
                    Dr. Julius Gikonyo Kiano EGH (PHD)</b> ....

                </p>
                <a href="/about" class="btn btn-primary">Read more...</a>
              </div>
            </div>

            <div class="card">
              <div class="card-header">
                Contacts us Through
              </div>
              <div class="card-body">
                {{!-- <h5 class="card-title"></h5> --}}
                <p class="card-text">
                  <h5>Phone: +254741569450</h5>
                  <h5>Email: drkianoboys@gmail.com</h5>
                  <h5>Postal Address: P.O BOX 190-10202, KANGEMA</h5>
                </p>
                <a href="contacts" class="btn btn-primary">View More...</a>
              </div>
            </div>

          </div>
        </div>

        <div class="stack_holders">

          <div class="title">
            <h3>.Leadership.</h3>
          </div>

          <div class="content">

            <div class="card principal">
              <img src="img/prncipal.jpg" alt srcset>
              <div class="card-body">
                <h5 class="card-title">The principal</h5>
                <p class="card-text">Mr. Gichongi <br>From: 2020 to date</p>
              </div>
            </div>

            <div class="card deputy">
              <img src="img/mr.george.png" alt srcset>
              <div class="card-body">
                <h5 class="card-title">The Deputy Principal</h5>
                <p class="card-text">Mr. Karanja <br>From: 2020 to date</p>

              </div>
            </div>

            <div class="card board_chair">
              <img src="img/board_chair.png" alt srcset>
              <div class="card-body">
                <h5 class="card-title">The Board Chairman</h5>
                <p class="card-text">Mr. John <br>From: 2020 to date</p>

              </div>
            </div>
            {{!-- <div class="board_chair">
              <img src="img/board_chair.png" alt srcset>
              <p>Board Chairman <br> Mr Hhjhkjkj</p>
            </div> --}}
          </div>
        </div>

      </div>
    </body>
  </html>
